﻿
<br />
<br />
<br />
<br />
<br />


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="http://s8.postimg.org/c4nfj0r4l/banner_3.jpg" alt="Chania">
            <div class="carousel-caption">

            </div>
        </div>

        <div class="item">
            <img src="http://s8.postimg.org/c4nfj0r4l/banner_3.jpg" alt="Chania">
            <div class="carousel-caption">

            </div>
        </div>


        <div class="item">
            <img src="http://s8.postimg.org/c4nfj0r4l/banner_3.jpg" alt="Flower">
            <div class="carousel-caption">

            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />
<div class="container"
<div class="jumbotron">
    <h3 style="font-family:'Segoe UI Symbol' ">Today's Trending Videos</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/22cN-b8R5Zk" frameborder="0" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/K2KhbFGsfQY" frameborder="0" allowfullscreen></iframe>
</div>
</div>

<br />
<div class="container">
    <div class="jumbotron">
        <h3 style="font-family:'Segoe UI Symbol'">Trending Director's</h3>

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">

                    <div class="card hovercard">
                        <div class="cardheader">

                        </div>
                        <div class="avatar">
                            <img alt="" src="http://s15.postimg.org/gjkt2bqtn/Christopher_Nolan.jpg">
                        </div>
                        <div class="info">
                            <div class="title">
                                <a target="_blank">Chris Nolan</a>
                            </div>
                            <div class="desc">Director</div>
                            <div class="desc">Experience: 1 Year</div>
                            <div class="desc"> Movies: 2</div>
                        </div>

                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                <p class="fa fa-twitter"></p>
                            </a>
                            <a class="btn btn-danger btn-sm" rel="publisher"
                               href="https://plus.google.com/+ahmshahnuralam">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="glyphicon glyphicon-envelope btn-lg" rel="publisher"
                               href="mailto:pranay.peddi94@gmail.com">

                            </a>
                            <a class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


